@keyframes backgroundOscillation {
    0% {
        background-color: #639534;
    }
    33% {
        background-color: #f29d0f;
    }
    66% {
        background-color: #cbb623;
    }
    100% {
        background-color: #639534;
     }
  }